@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

html{
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  overflow-x: hidden;
}

/* menu */

.content{
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1e1f;
  position: fixed;
  padding-left: 30rem;
}

.logo{
  width: 70px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo h3{
  width: 100%;
  font-size: 1.6rem;
}

.logo img{
  width: 100%;
  height: 100%;
}

.content .list-menu{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.first-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}